<blockquote>
  <p>
    This is a really small cinema!
  </p>

  <p>
    Let users pick seats and count them in <i>selected</i> counter.
  </p>

  <p>
    Hide seats and show the final cost after user clicks <i>buy</i> button.
  </p>
</blockquote>

<h3>
  Choose your seats
</h3>

<section class="cinema">
  <button *tuiRepeatTimes="let index of 10" class="seat"
    (click)="chooseSeat$.next(index + 1)"
  >{{index + 1}}</button>
</section>

Selected: {{selected$ | async}}

<button class="buy" (click)="buy$.next(true)">
  Buy
</button>

<section *ngIf="buy$ | async" class="final-cost">
  Final cost is $ {{cost$ | async}}
</section>


